# packages in environment at /home/username/miniforge3/envs/casadi:
#
# Name                    Version                   Build  Channel
_openmp_mutex             4.5                       2_gnu    conda-forge
alsa-lib                  1.2.13               h86ecc28_0    conda-forge
ampl-asl                  1.0.0                h5ad3122_2    conda-forge
anyio                     4.8.0              pyhd8ed1ab_0    conda-forge
argon2-cffi               23.1.0             pyhd8ed1ab_1    conda-forge
argon2-cffi-bindings      21.2.0          py313h31d5739_5    conda-forge
arrow                     1.3.0              pyhd8ed1ab_1    conda-forge
asttokens                 3.0.0              pyhd8ed1ab_1    conda-forge
async-lru                 2.0.4              pyhd8ed1ab_1    conda-forge
attrs                     25.1.0             pyh71513ae_0    conda-forge
babel                     2.17.0             pyhd8ed1ab_0    conda-forge
beautifulsoup4            4.13.3             pyha770c72_0    conda-forge
bleach                    6.2.0              pyh29332c3_4    conda-forge
bleach-with-css           6.2.0                h82add2a_4    conda-forge
brotli                    1.1.0                h86ecc28_2    conda-forge
brotli-bin                1.1.0                h86ecc28_2    conda-forge
brotli-python             1.1.0           py313hb6a6212_2    conda-forge
bzip2                     1.0.8                h68df207_7    conda-forge
ca-certificates           2025.4.26            hbd8a1cb_0    conda-forge
cached-property           1.5.2                hd8ed1ab_1    conda-forge
cached_property           1.5.2              pyha770c72_1    conda-forge
cairo                     1.18.2               h83712da_1    conda-forge
casadi                    3.6.7           py313he78faff_5    conda-forge
certifi                   2025.1.31          pyhd8ed1ab_0    conda-forge
cffi                      1.17.1          py313h2135053_0    conda-forge
charset-normalizer        3.4.1              pyhd8ed1ab_0    conda-forge
comm                      0.2.2              pyhd8ed1ab_1    conda-forge
contourpy                 1.3.1           py313h44a8f36_0    conda-forge
cycler                    0.12.1             pyhd8ed1ab_1    conda-forge
cyrus-sasl                2.1.27               hf6b2984_7    conda-forge
dataclasses-json          0.6.7              pyhd8ed1ab_1    conda-forge
dbus                      1.13.6               h12b9eeb_3    conda-forge
debugpy                   1.8.12          py313hb6a6212_0    conda-forge
decorator                 5.2.1              pyhd8ed1ab_0    conda-forge
defusedxml                0.7.1              pyhd8ed1ab_0    conda-forge
dill                      0.3.9              pyhd8ed1ab_1    conda-forge
double-conversion         3.3.1                h5ad3122_0    conda-forge
eigen                     3.4.0                h2a328a1_0    conda-forge
et_xmlfile                2.0.0              pyhd8ed1ab_1    conda-forge
exceptiongroup            1.2.2              pyhd8ed1ab_1    conda-forge
executing                 2.1.0              pyhd8ed1ab_1    conda-forge
expat                     2.6.4                h5ad3122_0    conda-forge
font-ttf-dejavu-sans-mono 2.37                 hab24e00_0    conda-forge
font-ttf-inconsolata      3.000                h77eed37_0    conda-forge
font-ttf-source-code-pro  2.038                h77eed37_0    conda-forge
font-ttf-ubuntu           0.83                 h77eed37_3    conda-forge
fontconfig                2.15.0               h8dda3cd_1    conda-forge
fonts-conda-ecosystem     1                             0    conda-forge
fonts-conda-forge         1                             0    conda-forge
fonttools                 4.56.0          py313h857f82b_0    conda-forge
fqdn                      1.5.1              pyhd8ed1ab_1    conda-forge
freetype                  2.12.1               hf0a5ef3_2    conda-forge
graphite2                 1.3.13            h2f0025b_1003    conda-forge
h11                       0.14.0             pyhd8ed1ab_1    conda-forge
h2                        4.2.0              pyhd8ed1ab_0    conda-forge
harfbuzz                  10.3.0               hb5e3f52_0    conda-forge
hpack                     4.1.0              pyhd8ed1ab_0    conda-forge
httpcore                  1.0.7              pyh29332c3_1    conda-forge
httpx                     0.28.1             pyhd8ed1ab_0    conda-forge
hyperframe                6.1.0              pyhd8ed1ab_0    conda-forge
icu                       75.1                 hf9b3779_0    conda-forge
idna                      3.10               pyhd8ed1ab_1    conda-forge
importlib-metadata        8.6.1              pyha770c72_0    conda-forge
importlib_resources       6.5.2              pyhd8ed1ab_0    conda-forge
ipopt                     3.14.17              hdc3f79c_0    conda-forge
ipykernel                 6.29.5             pyh3099207_0    conda-forge
ipython                   8.32.0             pyh907856f_0    conda-forge
ipywidgets                8.1.6              pyhd8ed1ab_0    conda-forge
isoduration               20.11.0            pyhd8ed1ab_1    conda-forge
jedi                      0.19.2             pyhd8ed1ab_1    conda-forge
jinja2                    3.1.5              pyhd8ed1ab_0    conda-forge
json5                     0.10.0             pyhd8ed1ab_1    conda-forge
jsonpointer               3.0.0           py313hd81a959_1    conda-forge
jsonschema                4.23.0             pyhd8ed1ab_1    conda-forge
jsonschema-specifications 2024.10.1          pyhd8ed1ab_1    conda-forge
jsonschema-with-format-nongpl 4.23.0               hd8ed1ab_1    conda-forge
jupyter-lsp               2.2.5              pyhd8ed1ab_1    conda-forge
jupyter_client            8.6.3              pyhd8ed1ab_1    conda-forge
jupyter_core              5.7.2              pyh31011fe_1    conda-forge
jupyter_events            0.12.0             pyh29332c3_0    conda-forge
jupyter_server            2.15.0             pyhd8ed1ab_0    conda-forge
jupyter_server_terminals  0.5.3              pyhd8ed1ab_1    conda-forge
jupyterlab                4.3.5              pyhd8ed1ab_0    conda-forge
jupyterlab_pygments       0.3.0              pyhd8ed1ab_2    conda-forge
jupyterlab_server         2.27.3             pyhd8ed1ab_1    conda-forge
jupyterlab_widgets        3.0.14             pyhd8ed1ab_0    conda-forge
keyutils                  1.6.1                h4e544f5_0    conda-forge
kiwisolver                1.4.7           py313h1d91839_0    conda-forge
krb5                      1.21.3               h50a48e9_0    conda-forge
lcms2                     2.17                 hc88f144_0    conda-forge
ld_impl_linux-aarch64     2.43                 h80caac9_4    conda-forge
lerc                      4.0.0                h4de3ea5_0    conda-forge
libblas                   3.9.0           31_h1a9f1db_openblas    conda-forge
libblasfeo                0.1.4.2              h9f33b5a_0    conda-forge
libbrotlicommon           1.1.0                h86ecc28_2    conda-forge
libbrotlidec              1.1.0                h86ecc28_2    conda-forge
libbrotlienc              1.1.0                h86ecc28_2    conda-forge
libcblas                  3.9.0           31_hab92f65_openblas    conda-forge
libclang-cpp19.1          19.1.7          default_he324ac1_1    conda-forge
libclang13                19.1.7          default_h4390ef5_1    conda-forge
libcups                   2.3.3                h405e4a8_4    conda-forge
libdeflate                1.23                 h5e3c512_0    conda-forge
libdrm                    2.4.124              h86ecc28_0    conda-forge
libedit                   3.1.20250104    pl5321h976ea20_0    conda-forge
libegl                    1.7.0                hd24410f_2    conda-forge
libexpat                  2.6.4                h5ad3122_0    conda-forge
libfatrop                 0.0.4                h5ad3122_1    conda-forge
libffi                    3.4.6                he21f813_0    conda-forge
libgcc                    14.2.0               he277a41_2    conda-forge
libgcc-ng                 14.2.0               he9431aa_2    conda-forge
libgfortran               14.2.0               he9431aa_2    conda-forge
libgfortran-ng            14.2.0               he9431aa_2    conda-forge
libgfortran5              14.2.0               hb6113d0_2    conda-forge
libgl                     1.7.0                hd24410f_2    conda-forge
libglib                   2.82.2               hc486b8e_1    conda-forge
libglvnd                  1.7.0                hd24410f_2    conda-forge
libglx                    1.7.0                hd24410f_2    conda-forge
libgomp                   14.2.0               he277a41_2    conda-forge
libhwloc                  2.11.2          default_h2c612a5_1001    conda-forge
libiconv                  1.18                 hc99b53d_1    conda-forge
libjpeg-turbo             3.0.0                h31becfc_1    conda-forge
liblapack                 3.9.0           31_h411afd4_openblas    conda-forge
libllvm19                 19.1.7               h2edbd07_1    conda-forge
liblzma                   5.6.4                h86ecc28_0    conda-forge
liblzma-devel             5.6.4                h86ecc28_0    conda-forge
libmpdec                  4.0.0                h68df207_0    conda-forge
libntlm                   1.4               hf897c2e_1002    conda-forge
libopenblas               0.3.29          pthreads_h9d3fd7e_0    conda-forge
libopengl                 1.7.0                hd24410f_2    conda-forge
libosqp                   0.6.3                h5ad3122_1    conda-forge
libpciaccess              0.18                 h31becfc_0    conda-forge
libpng                    1.6.47               hec79eb8_0    conda-forge
libpq                     17.4                 hf590da8_0    conda-forge
libqdldl                  0.1.7                hd600fc2_0    conda-forge
libscotch                 7.0.4                h68efd32_5    conda-forge
libsodium                 1.0.20               h68df207_0    conda-forge
libspral                  2024.05.08           hc4cad06_4    conda-forge
libsqlite                 3.49.1               h5eb1b54_1    conda-forge
libstdcxx                 14.2.0               h3f4de04_2    conda-forge
libstdcxx-ng              14.2.0               hf1166c9_2    conda-forge
libtiff                   4.7.0                h88f7998_3    conda-forge
libuuid                   2.38.1               hb4cce97_0    conda-forge
libwebp-base              1.5.0                h0886dbf_0    conda-forge
libxcb                    1.17.0               h262b8f6_0    conda-forge
libxkbcommon              1.8.0                h2ef6bd0_0    conda-forge
libxml2                   2.13.6               h2e0c361_0    conda-forge
libxslt                   1.1.39               h1cc9640_0    conda-forge
libzlib                   1.3.1                h86ecc28_2    conda-forge
markupsafe                3.0.2           py313h7815b11_1    conda-forge
marshmallow               3.26.1             pyhd8ed1ab_0    conda-forge
matplotlib                3.10.0          py313h1258fbd_0    conda-forge
matplotlib-base           3.10.0          py313h16bfeab_0    conda-forge
matplotlib-inline         0.1.7              pyhd8ed1ab_1    conda-forge
metis                     5.1.0             h670dfbf_1007    conda-forge
mistune                   3.1.2              pyhd8ed1ab_0    conda-forge
mplcursors                0.6                pyhd8ed1ab_1    conda-forge
multiprocess              0.70.17         py313h31d5739_1    conda-forge
mumps-include             5.7.3                h8af1aa0_7    conda-forge
mumps-seq                 5.7.3                h0922659_0    conda-forge
munkres                   1.1.4              pyh9f0ad1d_0    conda-forge
mypy_extensions           1.0.0              pyha770c72_1    conda-forge
mysql-common              9.0.1                h3f5c77f_4    conda-forge
mysql-libs                9.0.1                h11569fd_4    conda-forge
nbclient                  0.10.2             pyhd8ed1ab_0    conda-forge
nbconvert-core            7.16.6             pyh29332c3_0    conda-forge
nbformat                  5.10.4             pyhd8ed1ab_1    conda-forge
ncurses                   6.5                  ha32ae93_3    conda-forge
nest-asyncio              1.6.0              pyhd8ed1ab_1    conda-forge
notebook-shim             0.2.4              pyhd8ed1ab_1    conda-forge
numpy                     2.2.3           py313hcf1be6b_0    conda-forge
openjpeg                  2.5.3                h3f56577_0    conda-forge
openldap                  2.6.9                h30c48ee_0    conda-forge
openpyxl                  3.1.5           py313h271034a_1    conda-forge
openssl                   3.5.0                hd08dc88_0    conda-forge
overrides                 7.7.0              pyhd8ed1ab_1    conda-forge
packaging                 24.2               pyhd8ed1ab_2    conda-forge
pandas                    2.2.3           py313h7b4b6ea_2    conda-forge
pandocfilters             1.5.0              pyhd8ed1ab_0    conda-forge
parso                     0.8.4              pyhd8ed1ab_1    conda-forge
pathos                    0.3.3              pyhd8ed1ab_1    conda-forge
pcre2                     10.44                h070dd5b_2    conda-forge
pexpect                   4.9.0              pyhd8ed1ab_1    conda-forge
pickleshare               0.7.5           pyhd8ed1ab_1004    conda-forge
pillow                    11.1.0          py313h96bbe82_0    conda-forge
pip                       25.0.1             pyh145f28c_0    conda-forge
pixman                    0.44.2               h86a87f0_0    conda-forge
pkgutil-resolve-name      1.3.10             pyhd8ed1ab_2    conda-forge
platformdirs              4.3.6              pyhd8ed1ab_1    conda-forge
pox                       0.3.5              pyhd8ed1ab_1    conda-forge
ppft                      1.7.6.9            pyhd8ed1ab_1    conda-forge
prometheus_client         0.21.1             pyhd8ed1ab_0    conda-forge
prompt-toolkit            3.0.50             pyha770c72_0    conda-forge
proxsuite                 0.7.1           py313h44a8f36_0    conda-forge
psutil                    6.1.1           py313h31d5739_0    conda-forge
pthread-stubs             0.4               h86ecc28_1002    conda-forge
ptyprocess                0.7.0              pyhd8ed1ab_1    conda-forge
pure_eval                 0.2.3              pyhd8ed1ab_1    conda-forge
pycparser                 2.22               pyh29332c3_1    conda-forge
pygments                  2.19.1             pyhd8ed1ab_0    conda-forge
pymodbus                  2.5.3                    pypi_0    pypi
pyparsing                 3.2.1              pyhd8ed1ab_0    conda-forge
pyserial                  3.5                      pypi_0    pypi
pyside6                   6.8.2           py313h57f4686_0    conda-forge
pysocks                   1.7.1              pyha55dd90_7    conda-forge
python                    3.13.2          h525b0ce_101_cp313    conda-forge
python-dateutil           2.9.0.post0        pyhff2d567_1    conda-forge
python-fastjsonschema     2.21.1             pyhd8ed1ab_0    conda-forge
python-json-logger        2.0.7              pyhd8ed1ab_0    conda-forge
python-tzdata             2025.1             pyhd8ed1ab_0    conda-forge
python_abi                3.13                    5_cp313    conda-forge
pytz                      2024.1             pyhd8ed1ab_0    conda-forge
pyyaml                    6.0.2           py313h857f82b_2    conda-forge
pyzmq                     26.2.1          py313h6e72e74_0    conda-forge
qhull                     2020.2               h70be974_5    conda-forge
qt6-main                  6.8.2                ha0a94ed_0    conda-forge
readline                  8.2                  h8382b9d_2    conda-forge
referencing               0.36.2             pyh29332c3_0    conda-forge
requests                  2.32.3             pyhd8ed1ab_1    conda-forge
rfc3339-validator         0.1.4              pyhd8ed1ab_1    conda-forge
rfc3986-validator         0.1.1              pyh9f0ad1d_0    conda-forge
rpds-py                   0.23.1          py313h6023dc2_0    conda-forge
rpi-gpio                  0.7.1                    pypi_0    pypi
salib                     1.5.1              pyhd8ed1ab_2    conda-forge
scipy                     1.15.2          py313hfdb6400_0    conda-forge
send2trash                1.8.3              pyh0d859eb_1    conda-forge
setuptools                75.8.0             pyhff2d567_0    conda-forge
simde                     0.8.2                h17cf362_0    conda-forge
six                       1.17.0             pyhd8ed1ab_0    conda-forge
sniffio                   1.3.1              pyhd8ed1ab_1    conda-forge
soupsieve                 2.5                pyhd8ed1ab_1    conda-forge
stack_data                0.6.3              pyhd8ed1ab_1    conda-forge
terminado                 0.18.1             pyh0d859eb_0    conda-forge
tinycss2                  1.4.0              pyhd8ed1ab_0    conda-forge
tinyxml2                  10.0.0               h2f0025b_0    conda-forge
tk                        8.6.13               h194ca79_0    conda-forge
tomli                     2.2.1              pyhd8ed1ab_1    conda-forge
tornado                   6.4.2           py313h6a51379_0    conda-forge
traitlets                 5.14.3             pyhd8ed1ab_1    conda-forge
types-python-dateutil     2.9.0.20241206     pyhd8ed1ab_0    conda-forge
typing-extensions         4.12.2               hd8ed1ab_1    conda-forge
typing_extensions         4.12.2             pyha770c72_1    conda-forge
typing_inspect            0.9.0              pyhd8ed1ab_1    conda-forge
typing_utils              0.1.0              pyhd8ed1ab_1    conda-forge
tzdata                    2025a                h78e105d_0    conda-forge
uri-template              1.3.0              pyhd8ed1ab_1    conda-forge
urllib3                   2.2.2              pyhd8ed1ab_0    conda-forge
wayland                   1.23.1               h698ed42_0    conda-forge
wcwidth                   0.2.13             pyhd8ed1ab_1    conda-forge
webcolors                 24.11.1            pyhd8ed1ab_0    conda-forge
webencodings              0.5.1              pyhd8ed1ab_3    conda-forge
websocket-client          1.8.0              pyhd8ed1ab_1    conda-forge
widgetsnbextension        4.0.14             pyhd8ed1ab_0    conda-forge
xcb-util                  0.4.1                h5c728e9_2    conda-forge
xcb-util-cursor           0.1.5                h86ecc28_0    conda-forge
xcb-util-image            0.4.0                h5c728e9_2    conda-forge
xcb-util-keysyms          0.4.1                h5c728e9_0    conda-forge
xcb-util-renderutil       0.3.10               h5c728e9_0    conda-forge
xcb-util-wm               0.4.2                h5c728e9_0    conda-forge
xkeyboard-config          2.43                 h86ecc28_0    conda-forge
xorg-libice               1.1.2                h86ecc28_0    conda-forge
xorg-libsm                1.2.5                h0808dbd_0    conda-forge
xorg-libx11               1.8.11               hca56bd8_0    conda-forge
xorg-libxau               1.0.12               h86ecc28_0    conda-forge
xorg-libxcomposite        0.4.6                h86ecc28_2    conda-forge
xorg-libxcursor           1.2.3                h86ecc28_0    conda-forge
xorg-libxdamage           1.1.6                h86ecc28_0    conda-forge
xorg-libxdmcp             1.1.5                h57736b2_0    conda-forge
xorg-libxext              1.3.6                h57736b2_0    conda-forge
xorg-libxfixes            6.0.1                h57736b2_0    conda-forge
xorg-libxi                1.8.2                h57736b2_0    conda-forge
xorg-libxrandr            1.5.4                h86ecc28_0    conda-forge
xorg-libxrender           0.9.12               h86ecc28_0    conda-forge
xorg-libxtst              1.2.5                h57736b2_3    conda-forge
xorg-libxxf86vm           1.1.6                h86ecc28_0    conda-forge
xz                        5.6.4                h2dbfc1b_0    conda-forge
xz-gpl-tools              5.6.4                h2dbfc1b_0    conda-forge
xz-tools                  5.6.4                h86ecc28_0    conda-forge
yaml                      0.2.5                hf897c2e_2    conda-forge
zeromq                    4.3.5                h5efb499_7    conda-forge
zipp                      3.21.0             pyhd8ed1ab_1    conda-forge
zlib                      1.3.1                h86ecc28_2    conda-forge
